﻿<div ng-controller="CustomerListController as vm">
    <br/>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search..." ng-model="vm.search" ng-change="vm.pageChanged()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th sortable-header-for="FirstName" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    First name
                </th>
                <th sortable-header-for="LastName" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    Last name
                </th>
                <th sortable-header-for="Company" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    Company
                </th>
                <th sortable-header-for="Address" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    Location
                </th>
                <th sortable-header-for="PhoneNumber" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    Phone number
                </th>
                <th sortable-header-for="EmailAddress" ng-model="vm.sortData" ng-change="vm.pageChanged()">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in vm.customers">
                <td>
                    {{customer.FirstName}}
                </td>
                <td>
                    {{customer.LastName}}
                </td>
                <td>
                    {{customer.Company}}
                </td>
                <td>
                    {{customer | customerLocationDisplay}}
                </td>
                <td>
                    {{customer.PhoneNumber}}
                </td>
                <td>
                    {{customer.EmailAddress}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    {{vm.totalItems.length}}
                    <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" items-per-page="vm.itemsPerPage"></uib-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>